.bg{
    width:100%;
    height: 100%;
    background-image: url("../images/g_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

}
.ancient_poetry{
    width:100%;
    display: flex;
    justify-content: center;
}
.ancient_poetry .g_bg1{
    width:7.14rem;
    height: 6.38rem;
    background:url("../images/g_pic1.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:16%;
    margin:0 auto;
    display: flex;
    justify-content: center;

}
.ancient_poetry .g_bg2{
    width:4.44rem;
    height: 1.94rem;
    background:url("../images/g_pic6.png") no-repeat;
    background-size:100% 100%;
    margin-top:2.27rem;
    position: relative;
    /*left:-0.2rem;*/
}
.ancient_poetry .g_bg2 .text1.active{
    display: inline-block;
    width:0.61rem;
    height: 0.61rem;
    background:url("../images/p1.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.22rem;
    left:0.15rem;
}
.ancient_poetry .g_bg2 .text2.active{
    display: inline-block;
    width:0.60rem;
    height: 0.59rem;
    background:url("../images/p2.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.22rem;
    left:1.96rem;
}
.ancient_poetry .g_bg2 .text3.active{
    display: inline-block;
    width:0.53rem;
    height: 0.57rem;
    background:url("../images/p3.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.22rem;
    right:0.23rem;
}
.ancient_poetry .g_bg2 .text4.active{
    display: inline-block;
    width:0.61rem;
    height: 0.60rem;
    background:url("../images/p4.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:1.14rem;
    left:1.05rem;
}
.ancient_poetry .g_bg2 .text5.active{
    display: inline-block;
    width:0.62rem;
    height: 0.60rem;
    background:url("../images/p5.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:1.13rem;
    right:1.01rem;
}

.ancient_poetry .g_bg3{
    width:6.56rem;
    height: 1.91rem;
    background: url("../images/a_pic3.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:2.17rem;
    z-index: 2;
}
.ancient_poetry .g_bg4{
    width:6.23rem;
    height: 0.76rem;
    background: url("../images/g_pic2.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:6rem;
    left:0.5rem;
}
.ancient_poetry .box_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top:65%;
    padding:0 0.65rem;
}
.ancient_poetry .box_list .icon{
    width:0.9rem;
    height: 0.88rem;
    display: inline-block;
    margin-bottom:0.2rem;
    border:1px solid rgba(0,0,0,0);
    border-radius:0.25rem;
}
.ancient_poetry .box_list .icon.active{
    border:0.02rem solid #ff6560;
    border-radius:0.25rem;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}
@keyframes shake {
    10%, 90% {transform: translate3d(-1px, 0, 0);}

    20%, 80% {transform: translate3d(2px, 0, 0);}

    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}

    40%, 60% {transform: translate3d(4px, 0, 0);}
}
.ancient_poetry .box_list .l_icon1{
    background: url("../images/g1.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon2{
    background: url("../images/g2.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon3{
    background: url("../images/g3.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon4{
    background: url("../images/g4.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon5{
    background: url("../images/g5.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon6{
    background: url("../images/g6.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon7{
    background: url("../images/g7.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon8{
    background: url("../images/g8.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon9{
    background: url("../images/g9.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon10{
    background: url("../images/g10.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon11{
    background: url("../images/g11.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon12{
    background: url("../images/g12.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon13{
    background: url("../images/g13.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon14{
    background: url("../images/g14.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon15{
    background: url("../images/g15.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon16{
    background: url("../images/g16.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon17{
    background: url("../images/g17.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .box_list .l_icon18{
    background: url("../images/g18.png") no-repeat;
    background-size:100% 100%;
}
.ancient_poetry .botText{
    position: absolute;
    top:93%;
    text-align: center;
    font-size:0.26rem;
    font-family: sourceHanSansSc Regular;
    width:100%;
}




